.col-md-12
	%h3 Admin Dashboard
	%br
	.row
		.col-md-3
			.well
				%h3 Profile Information
				= render 'speaker_overview'
			.well
				%h3 Announcements
				= render 'speaker_announcements'
		.col-md-9.well
			- if @seminars.count > 0
				%h3 Proposals
				= render 'seminars/index'
			- else
				.btn.btn-lg.btn-success= link_to "Submit new Proposal", "/seminars/new", style: "color: white"