.col-md-12
	%h3 Speaker Dashboard
	%br
	.row
		.col-md-5
			.well
				%h3 Profile Information
				= render 'speaker_overview'
			.well
				%h3 Announcements
				= render 'speaker_announcements'
		.col-md-7.well
			%h3 Proposals
			= render 'seminars/index'