%br
.row
  .col-md-7.col-xs-1.col-sm-1
  .col-md-3.well.col-xs-10.col-sm-10{style: "background-color: #2e2e2e"}
    %h4 Forgot your password?

    %br

    = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.email_field :email, autofocus: true
      = f.submit "Send me reset password instructions"

