.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 About Phnom Penh
      %p Phnom Penh, at the confluence of the Mekong and the Tonle Sap Rivers, is the capital of Cambodia and its largest city. The beauty that made it a 'Paris of the East' before 1970 is unfortunately well hidden, though there are a few French colonial buildings remaining. The wide boulevards and promenades envisaged by the French have become parking spaces and market stalls: pedestrians are not in favour. The most pleasant strolling is to be done along the park-like river frontage, which hosts cafés and restaurants aplenty. Phnom Penh is on its best ways to become again the Pearl of South East Asia.
      .row.top-space.bottom-margin
        .col-md-offset-2.col-md-8
          .row
            %a.col-sm-3{"data-gallery" => "multiimages", "data-title" => "Stupa of King Norodom Suramarit", "data-toggle" => "lightbox", :href => "img/pp1.jpg"}
              %img.img-responsive.lb-height{:src => "img/pp1.jpg"}/
            %a.col-sm-3{"data-gallery" => "multiimages", "data-title" => "Red sky", "data-toggle" => "lightbox", :href => "img/pp4.jpg"}
              %img.img-responsive.lb-height{:src => "img/pp4.jpg"}/
            %a.col-sm-3{"data-gallery" => "multiimages", "data-title" => "The Royal Palace at Noon", "data-toggle" => "lightbox", :href => "img/pp2.jpg"}
              %img.img-responsive.lb-height{:src => "img/pp2.jpg"}/
            %a.col-sm-3{"data-gallery" => "multiimages", "data-title" => "Preabaromareachaveang - Royal Palace", "data-toggle" => "lightbox", :href => "img/pp3.jpg"}
              %img.img-responsive.lb-height{:src => "img/pp3.jpg"}/
      %h3 How to get there
      %p Cambodia has international airports at Phnom Penh and Siem Reap. Direct flights connect Phnom Penh International Airport in the following way:
      .row
        .col-md-4
          %ul
            %li Bangkok BKK/DMK
            %ul
              %li Bangkok Airways 3x/day
              %li Thai Airways 2x/day
              %li AirAsia daily
            %li Beijing NAY
            %ul
              %li China Southern daily
            %li Guangzhou CAN
            %ul
              %li China Southern daily
            %li Shanghai PVG
            %ul
              %li Shanghai Air daily
        .col-md-4
          %ul
            %li Hong Kong HKG
            %ul
              %li Dragon Air daily
            %li Hanoi HAN
            %ul
              %li Vietnam Airlines daily
            %li Ho Chi Minh SGN
            %ul
              %li Vietnam Airlines 3x/day
            %li Seoul ICN
            %ul
              %li Asiana Airlines daily
              %li Korean Air daily
        .col-md-4
          %ul
            %li Kuala Lumpur KUL
            %ul
              %li Malaysia Airlines daily
              %li AirAsia 2x/day
            %li Singapore SIN
            %ul
              %li Silk Air 2x/day
              %li Jet Star 6x/week
            %li Teipei TPE
            %ul
              %li Eva Air daily
              %li China Airways 3x/week
            %li Vientane VTE
            %ul
              %li Vietnam Airlines daily
      .row.top-space.bottom-margin
        .col-md-offset-2.col-md-8
          .row
            %a.col-sm-4{"data-gallery" => "multiimages", "data-title" => "Phnom Penh International Airport", "data-toggle" => "lightbox", :href => "img/air2.jpg"}
              %img.img-responsive.lb-height-2{:src => "img/air2.jpg"}/
            %a.col-sm-4{"data-gallery" => "multiimages", "data-title" => "Passport control", "data-toggle" => "lightbox", :href => "img/air.jpg"}
              %img.img-responsive.lb-height-2{:src => "img/air.jpg"}/
            %a.col-sm-4{"data-gallery" => "multiimages", "data-title" => "Airport hall", "data-toggle" => "lightbox", :href => "img/airport.jpg"}
              %img.img-responsive.lb-height-2{:src => "img/airport.jpg"}/
      %p onnections from Europe are possible via Doha (DOH), Beijing (NAY), Guangzhou (CAN), Seoul (ICN), Ho Chi Minh City (SGN) or Bangkok (BKK). From North America via Hong Kong (HKG). Beyond that exists the possibility for land and river connections to Phnom Penh, e.g. Ho Chi Minh City - Phnom Penh 5hrs, US$ 15.
      %h3 Visa
      %p All visitors, except citizens of Indonesia, Malaysia, Singapore, Philippines, Laos, Thailand and Vietnam need a visa to enter Cambodia. Visas can be obtained at Cambodian embassies or consulates. Visas are also available "on arrival" at both international airports, all six international border crossings with Thailand, some international border crossings with Vietnam, and at the main border crossing with Laos.
      .row.top-space.bottom-margin
        .col-md-offset-4.col-md-4
          .row
            %a.col-sm-12{"data-gallery" => "multiimages", "data-title" => "Cambodian Visa", "data-toggle" => "lightbox", :href => "img/passport.jpg"}
              %img.img-responsive{:src => "img/passport.jpg"}/
      %p
        You will need a visa type T, which will cost US$ 30. Visa are also available as so called
        %a{:href => "https://www.evisa.gov.kh/"} e-visa
        \- which you can get via internet in advance.
        %br/
        Only citizens of the following countries have to apply for a visa in advance: Afghanistan, Algeria, Arab Saudi, Bangladesh, Iran, Iraq, Pakistan, Sri Lanka, Sudan, Nigeria.
      %p For more information consult the pages of the Cambodian Tourism Ministery.
      %h3 Hotels
      %p Phnom Penh has a wide variety of accommodation, ranging from budget guesthouses (about US$ 5-20) to good quality mid-range hotels (US$20-50) to extravagant palaces with extravagant prices to match. These hotels are nearby the venue
      %ul
        %li
          %a{:href => "http://www.booking.com/hotel/kh/midland.de.html"} Midland Hotel
        %li
          %a{:href => "http://www.booking.com/hotel/kh/aime-house.de.html"} Aimé House
        %li
          %a{:href => "http://www.booking.com/hotel/kh/mongkul-ratanak-guesthouse.de.html"} Mongkul Ratanak Guesthouse
      %p Cheaper rates for booking more as one room, can be arranged.
      %h3 Telephone & Internet
      %p Cheap SIM cards from $2 for GSM phones are available on almost any major street. A vendor should have an activated test card to be used to make sure your phone will operate on that network. Calls between mobile networks can be spotty and Skype calls from abroad to mobiles in Cambodia are sometimes dropped, so be prepared to redial frequently. SIM cards, phone credit and internet packages can be bought and activated at the airport located just after passing through customs. A great time and place to do so if you know you going to buy a local sim card in Cambodia. Its a good idea to have your phone sim unlocked before leaving home. It seems all phones sold in Cambodia are unlocked. Dual sim phones are cheaply available which are useful for travellers who want to use their home sim card and a local sim card at the same time.
      %p
        Mobitel and metfone have the best coverage around the whole of Cambodia. Metfone is particularly good for their internet packages (e.g. 2.5Gb for one month for $5) and they allow hotspot tethering from you smart phone unlike Mobitel. Useful if you use a laptop a lot and want to use wifi via your hotspot enabled smart phone.
        %br/
        Most of the major networks, such as metfone, have kiosks at the Phnom Penh airport located just after walking through customs where you can buy a local sim card, some credit and an Internet data package. If so, check that it all appears to be operating OK before heading off, such as by loading up a web page and checking your balance. If you fly with Bangkok Airways, they will give you an SIM card on board, you only have to activate it with an registration when you leave the plane.