.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Call for Paper
      %h4.cfp Open from July 1st through september 30th!
      %p Fossography opens his doors for the first time in the awesome city of Phnom Penh and searches for talks, workshops, presentations and meetings around free graphic software and free culture. You have an topic to speak about from the following areas or an idea to them which you want to share:
      %ul
        %li Open Source and photographics
        %li Free Software tools for image manipulation and raw development
        %li 3D graphics and renderer
        %li Free Software for vector graphics
        %li Font design with Open Source
        %li Free Software tools for 2D & 3D animation
        %li Video editing and production with Open Source
        %li Game development and assetting with Open Source
        %li UX design in/for and with Open Source
        %li Desktop publishing and print design with FreeSoftware
        %li Open Source 3D printing soft- and hardware
        %li Open Source Color Managment
        %li Aerial photography and video with Open Source
        %li DIY (open source) dolly systems
        %li File formats for free graphic software
      %p We want to show the newest developments in this areas, give people an audience if they have ideas how to improve these tools and give the projects room to work and improve their software. Fossography shall become an event to share knowledge, learn and hack.