.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Call for Paper
      %h4.cfp Open from July 1st through september 30th!
      %p FOSSOGRAPHY will open its doors for the first time in the awesome city of Phnom Penh. We're searching for talks, workshops, presentations, and meetings around free graphics software and free culture. You may choose a topic to speak about from the following areas or propose another idea you'd like to speak about:
      %ul
        %li Open Source and photographics
        %li Free Software tools for image manipulation and raw development
        %li 3D graphics and renderer
        %li Free Software for vector graphics
        %li Font design with Open Source
        %li Free Software tools for 2D & 3D animation
        %li Video editing and production with Open Source
        %li Game development and asset creation with Open Source
        %li UX design in/for and with Open Source
        %li Desktop publishing and print design with FreeSoftware
        %li Open Source 3D printing soft- and hardware
        %li Open Source Color Management
        %li Aerial photography and video with Open Source
        %li DIY (open source) dolly systems
        %li File formats for free graphic software
      %p We want to show the newest developments in these areas, provide an audience to those who have ideas on improving these tools, and give the projects room to work and improve their software. Fossography shall become an event to share knowledge, learn, and hack.