.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Help Us!
      %p FOSSOGRAPHY is a community driven event and there will be no entry fee, but there are still costs we will have for the venue and other things, we also want to support our speakers to et to Phnom Penh. So we could need financial support of the community, we running for that an campaign.