.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Help Us!
      %p FOSSOGRAPHY is a community-driven event and there will be no entry fee, but there are still costs for the venue and other things. We also want to provide support to our speakers so they can travel to Phnom Penh. We need the financial support of the community, so we are running a funding campaign on Indiegogo and Pledgie.
  .row.top-space.bottom-space
    .col-lg-12
      #sample_goal
  .row.top-space.bottom-space.text-center
    .col-lg-12
      %h3 Gold Sponsors
      %a{:href => "http://zamanu.edu.kh/"}
        %img{:alt => "Zaman University Logo", :src => "img/zaman_uni.png"}/
    .col-lg-12
      %h3 Community Sponsors
      %a{:href => "http://igg.me/at/fossography/"} Your name here...