/ Slider
#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{:alt => "First slide", :src => "/img/sun_bw.png", :style => "width:100%"}/
      .container
        .carousel-caption
          %h1 Slide 1
          %p Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.
          %p
            %a.btn.btn-lg.btn-primary{:href => "/users/sign_up", :role => "button"} Sign up today
    .item
      %img{:alt => "Second slide", "data-src" => "", :src => "/img/camera_bw.png", :style => "width:100%"}/
      .container
        .carousel-caption
          %h1 Slide 2
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus.
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Learn more
    .item
      %img{:alt => "Third slide", "data-src" => "", :src => "/img/design_bw.jpg", :style => "width:100%"}/
      .container
        .carousel-caption
          %h1 Slide 3
          %p Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.
          %p
            %a.btn.btn-lg.btn-primary{:href => "#", :role => "button"} Browse gallery
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.glyphicon.glyphicon-chevron-right 