.container.about.team.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Team
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Sophanna Hor", :src => "/img/sophanna.png"}/
        .col-md-10.col-xs-12
          %p Sophanna Hor is an Electrical Engineer and Biomedical Equipment Technologist working in the health sector in Cambodia. He's very interested and experienced in using Free and Open Source Software for his work to make, design and programing robots and electronic devices. He likes to contribute to the society, especially for young people by sharing his knowledge and organizing various events in technology. Previously, he also helps organize a FOSS event in Cambodia, which is his first and great experiences to meet and work with FOSS peoples and tech maker.
          %p
            %b Local Coordinator
            \-
            %a{:href => "mailto:sophanna@fossography.org"} sophanna@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Kong Somvannda", :src => "/img/somvannda.png"}/
        .col-md-10.col-xs-12
          %p Kong Somvannda joined the Fedora Project as Fedora Ambassador in the late March 2014 during the FOSSASIA. He started to contribute to Fedora by promoting the Open Source by organizing Fedora events and talks across Cambodia.  Somvannda is also a Co-founder and Project Manager of TOSFUND.COM, the first Crowdfunding platform in Cambodia and Google Developer Group Community Leader in Phnom Penh. Currently he works as National Multimedia Information Specialist at International Center for Environment Management.
          %p
            %b Logistics
            \-
            %a{:href => "mailto:somvannda@fossography.org"} somvannda@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Botreynisa Ban", :src => "/img/ban.png"}/
        .col-md-10.col-xs-12
          %p Botreynisa Ban studied Computer Sience at the Royal University at Phnom Penh, she loves Open Source and contributes to Fedora as an Ambassador and leading the Khmer Translation Team, she also likes music and learns to play piano and she loves to dance របាំ robam. Currently she is working as an HR officer in Phnom Penh.
          %p
            %b Opening Ceremony
            \-
            %a{:href => "mailto:nisa@fossography.org"} nisa@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Touch Sopor", :src => "/img/alis.png"}/
        .col-md-10.col-xs-12
          %p Touch Sopor, 24, works as Sales and Marketing Manager. Her skills and interest in communication has led her to different working that evolves arts and literacy mainly in film, photography, writing, and event management. To her, arts involves different aspects, arts is the combination of compassion, love and means; of how to do it, it’s each talents. She believes Open technology contributing to arts is a comprehensive facts that improve very much in digital arts and movements. Thus, in contributing more diverse to young people, she had volunteer organizing FOSS events in Cambodia which is the first, but not the last, great experience to get to know geeks in tech&arts.
          %p
            %b PR & Media
            \-
            %a{:href => "mailto:sopor@fossography.org"} sopor@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Sirko Kemter", :src => "/img/gnokii.png"}/
        .col-md-10.col-xs-12
          %p Sirko Kemter has more than 15 years experience working in the world of Free and Open Source software. He contributed and contributes to various FOSS projects, currently he works in Fedoras Design Team as well in the Inkscape project. For several years he was organizer of Chemnitzer Linux-Tage, one of Germany largest FOSS events with more then 5.000 visitors, he also helps to organize other events like LibreGraphicsMeeting and always shares his knowledge about Open Source software so you can meet him at various events arround the world. He shares his knowledge with various video tutorials and als wrote two books about Inkscape.
          %p
            %b Main Coordinator
            \-
            %a{:href => "mailto:sirko@fossography.org"} sirko@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Bunhom Chhorn", :src => "/img/bunhom.png"}/
        .col-md-10.col-xs-12
          %p Botreynisa Ban studied Computer Sience at the Royal University at Phnom Penh, she loves Open Source and contributes to Fedora as an Ambassador and leading the Khmer Translation Team, she also likes music and learns to play piano and she loves to dance របាំ robam. Currently she is working as an HR officer in Phnom Penh.
          %p
            %b Video Recording
            \-
            %a{:href => "mailto:bunhom@fossography.org"} bunhom@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Leap Sok", :src => "/img/leap.png"}/
        .col-md-10.col-xs-12
          %p Leap Sok is a founder of System Experts and works in the IT professional for 10 years in providing turnaround management, performance improvement and corporate advisory services to companies. Leap's experience and skills in IT operations, solution architecture, assessment and strategy development. Leap has been a personal trainer and group presenter at many ICT and Open Source conferences in Cambodia and abroad. He is inspired to make the social impacts through knowledge and skill sharing to the community where he lives. Beside from his daily work, Leap leads and organizers the conference such as Ubuntu Loco Cambodia, DevOps Cambodia, Open Source Cambodia Colloborator, FOSSASIA and Startup Weekend Cambodia.
          %p
            %b Speakers Coordination
            \-
            %a{:href => "mailto:leap@fossography.org"} leap@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Sarup Banskota", :src => "/img/sarup.jpg"}/
        .col-md-10.col-xs-12
          %p Sarup Banskota is a recent graduate from India, working as a Product Designer in Singapore. He's involved with the Fedora Project, where he occasionally works on GlitterGallery, mentors students and hangs out at developer focused events to conduct workshops on Sass, Rails, and everything in between.
          %p
            %b Programming & Databases
            \-
            %a{:href => "mailto:sarup@fossography.org"} sarup@fossography.org
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Robert Mayr", :src => "/img/robert.jpg"}/
        .col-md-10.col-xs-12
          %p Robert Mayr works in the Insurance sector, but he is a very passionate web developer. He's the creator of the Italian Fedora Community and contributes to many Fedora projects. Actually he is the main lead of the Fedora Websites Team and rewrote most of the code of the new Fedora websites. Robert tries also to support FOSS Projects writing the websites stuff, like LGM 2014 and Fossography 2015.
          %p
            %b Web Development
            \-
            %a{:href => "mailto:robert@fossography.org"} robert@fossography.org