.container.about.team.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Team
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Sophanna Hor", :src => "/img/sophanna.png"}/
        .col-md-10.col-xs-12
          %p Sophanna Hor is an Electrical Engineer and Biomedical Equipment Technologist working in the health sector in Cambodia. He's very interested and experienced in using Free and Open Source Software for his work to make, design and programing robots and electronic devices. He likes to contribute to the society, especially for young people by sharing his knowledge and organizing various events in technology. Previously, he also helps organize a FOSS event in Cambodia, which is his first and great experiences to meet and work with FOSS peoples and tech maker.
      .row.top-space.team
        .col-md-2.col-xs-12
          %img{:alt => "Kong Somvannda", :src => "/img/somvannda.png"}/
        .col-md-10.col-xs-12
          %p Kong Somvannda joined the Fedora Project as Fedora Ambassador in the late March 2014 during the FOSSASIA. He started to contribute to Fedora by promoting the Open Source by organizing Fedora events and talks across Cambodia.  Somvannda is also a Co-founder and Project Manager of TOSFUND.COM, the first Crowdfunding platform in Cambodia. Somvannda is also a Google Developer Group Community Leader in Phnom Penh, which leading on community work to motivate and encourage community people through ICT and Google Technologies. Currently he works as National Multimedia Information Specialist at International Center for Environment Management.