.container.about.white
  .row.top-space.bottom-space
    .col-lg-12
      %h2 Venue
      %p FOSSOGRAPHY 2015 will be hosted at Zaman University. Zaman University is one of Phnom Penhs private universities. Zaman University was founded in 2010 by Mr. Ali Kokten, who is the current Chairman of Zaman International School (ZIS), which has three campuses: nursery and kindergarten, primary school, and high school. The university has 4 faculties: Faculty of Engineering, Faculty of Arts, Humanities and Languages, Faculty of Economics and Administrative Sciences and Faculty of Information and Computer Technologies with an Department of Digital Arts and Design.
      %p
        More about Zaman University, you can find out on their
        = succeed "." do
          %a{:href => "http://zamanu.edu.kh/"} website
    .col-lg-8.col-lg-offset-2.col-xs-12
      %p
        %img.img-responsive.top-space.bottom-margin{:alt => "Zaman University", :src => "/img/zaman.jpg"}/