.navbar.navbar-custom.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "index.html"}
        %img{:alt => "logo", :src => "img/header_logo.png"}/
    .collapse.navbar-collapse.navbar-right
      %ul.nav.navbar-nav
        %li.dropdown
          %a.menu_general.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "about.html", :role => "button"}
            About
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "about.html"} Travel
            %li
              %a{:href => "venue.html"} Venue
            %li
              %a{:href => "news.html"} News
        %li.dropdown
          %a.menu_program.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "cfp.html", :role => "button"}
            Call for Paper
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => "cfp.html"} Call for Paper
            %li
              %a{:href => "#"} Submit
        %li
          %a.menu_venue{:href => "help.html"} Help Us!
        %li
          %a.menu_contact{:href => "team.html"} Team