%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %a.navbar-brand{:href => "/"} Fossography
      %ul.nav.navbar-nav.navbar-right
        %li
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, method: :delete if user_signed_in?
          - else
            %a{:href => "/users/sign_in"} Sign In
            %a{:href => "/users/sign_up"} Sign Up
          