%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "/"} Fossography
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to 'Logout', destroy_user_session_path, method: :delete if user_signed_in?
        - else
          %li= link_to "Sign In", "/users/sign_in"
          %li= link_to "Sign Up", "/users/sign_up"
        %li= link_to 'Create New Proposal', new_seminar_path
          